<?xml version="1.0" encoding="UTF-8"?>

-<web-app xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">


-<servlet>

<servlet-name>UploadFile</servlet-name>

<servlet-class>network.UploadFile</servlet-class>

</servlet>


-<servlet>

<servlet-name>downloads</servlet-name>

<servlet-class>network.downloads</servlet-class>

</servlet>


-<servlet>

<servlet-name>Download</servlet-name>

<servlet-class>network.Download</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>UploadFile</servlet-name>

<url-pattern>/UploadFile</url-pattern>

</servlet-mapping>


-<servlet-mapping>

<servlet-name>downloads</servlet-name>

<url-pattern>/downloads</url-pattern>

</servlet-mapping>


-<servlet-mapping>

<servlet-name>Download</servlet-name>

<url-pattern>/Download</url-pattern>

</servlet-mapping>


-<session-config>

<session-timeout>30 </session-timeout>

</session-config>

</web-app>
